@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Sriracha&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Red Hat Text", serif;
}

.mapboxgl-marker {
    cursor: pointer;
}

.mapboxgl-popup-content {
    min-width: 23.5rem;
    padding: 1rem 1.5rem 1.5rem 1rem;
    /* fix border on popup tip */
    border: solid 1px #d4d4d4;
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.mapboxgl-popup-close-button {
    right: 0.5rem;
    font-size: 1.75rem;
    margin-top: 0.3rem;
}

.mapboxgl-popup-close-button:hover {
    background-color: transparent;
}

.mapboxgl-popup-close-button:focus {
    border: none;
}

.mapbox-gl-marker:hover {
    cursor: pointer !important;
}

@media screen and (max-width: 768px) {
    .mapboxgl-popup-content {
        min-width: 20rem;
        padding: 0.75rem 1rem 1rem 0.5rem;
    }
}