@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Sriracha&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Red Hat Text", serif;
}

.mapboxgl-popup-content {
    padding: 10px 17px 10px 15px;
    border-radius: 1rem;
}

.mapboxgl-popup-close-button {
    right: 0.5rem;
    font-size: 1.75rem;
    margin-top: 0.3rem;
}

.mapboxgl-popup-close-button:hover {
    background-color: transparent;
}

.mapboxgl-popup-anchor-top {
    padding-top: 0.75rem;
}

.mapboxgl-popup-anchor-top-left {
    padding-top: 1rem;
    padding-left: 0.2rem;
}

.mapboxgl-popup-anchor-top-right {
    padding-top: 1rem;
}

.mapboxgl-popup-anchor-right {
    padding-right: 0.5rem;
}

.mapboxgl-popup-anchor-left {
    padding-left: 0.6rem;
}

.mapboxgl-popup-anchor-bottom,
.mapboxgl-popup-anchor-bottom-left,
.mapboxgl-popup-anchor-bottom-right {
    padding-bottom: 0.4rem;
}

.mapbox-gl-marker:hover {
    cursor: pointer !important;
}
